body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.square {
    width: 40px;
    height:40px;
    background-color: #f2f2f2;
    transition: background-color 0.1s ease;
}

.square.hovered {
    background-color: #bfff00;
}